<% timestamp = nil %>
<% last_timestamp = nil %>
<% @person[:posts].each do |post| %>
  <% last_timestamp = timestamp || nil %>
  <% timestamp = Time.at(post[:sort_time]) %>
  <% if last_timestamp.nil? || (last_timestamp.strftime('%Y') != timestamp.strftime('%Y')) %>
    <li class="timestamp year">
      <h1><%= timestamp.strftime('%Y') %></h1>
    </li>
  <% end %>
  <% if last_timestamp.nil? || (last_timestamp.strftime('%B %Y') != timestamp.strftime('%B %Y')) %>
    <li class="timestamp month">
      <h2><%= timestamp.strftime('%B') %></h2>
    </li>
  <% end %>
  <% if last_timestamp.nil? || (last_timestamp.strftime('%d %B %Y') != timestamp.strftime('%d %B %Y')) %>
    <li class="timestamp date">
      <h3><%= timestamp.strftime('%A %d') %></h3>
    </li>
  <% end %>
  <li class="<%= post[:type] %>">
    <div class="left-margin">
      <% if post[:type] == "facebook_message" %>
        <i class="fab fa-facebook-messenger"></i>
      <% elsif post[:type] == "webcomics_strip" %>
        <i class="fas fa-book-reader"></i>
      <% elsif post[:type] == "hangouts_event" %>
        <i class="fab fa-hangouts"></i>
      <% elsif post[:type] == "youtube_video" %>
        <a href="https://www.youtube.com/watch?v=<%= post[:content][:video_id] %>"><i class="fab fa-youtube"></i></a>
      <% elsif post[:type] == "reddit_comment" %>
        <a href="<%= post[:content][:link_permalink] %><%= post[:content][:reddit_id] %>"><i class="fab fa-reddit"></i></a>
      <% elsif ["twitter_tweet", "twitter_retweet"].include?(post[:type]) %>
        <a href="https://twitter.com/i/status/<%= post[:content][:tweet_id] %>"><i class="fab fa-twitter"></i></a>
      <% elsif ["instagram_post", "instagram_story"].include?(post[:type]) %>
        <% if post[:type] == "instagram_post" %>
          <a href="https://www.instagram.com/p/<%= post[:content][:shortcode] %>/">
        <% end %>
        <i class="fab fa-instagram"></i>
        <% if post[:type] == "instagram_post" %>
          </a>
        <% end %>
        <% if post[:type] == "instagram_story" %>
          <i class="far fa-clock"></i>
        <% end %>
      <% elsif post[:type] == "matrix_event" %>
        <%= render :partial => 'posts/riot' %>
      <% elsif post[:type] == "deviantart_post" %>
        <a href="https://www.deviantart.com/<%= post[:content][:username] %>/art/<%= post[:content][:post_id] %>"><i class="fab fa-deviantart"></i></a>
      <% elsif post[:type] == "pixiv_post" %>
        <a href="https://www.pixiv.net/en/artworks/<%= post[:content][:post_id] %>">
          <%= render :partial => 'profiles/pixiv' %>
        </a>
      <% elsif ['android_sms', 'windows_phone_sms'].include?(post[:type]) %>
        <i class="fas fa-sms"></i>
        <% if post[:type] == "android_sms" %>
          <i class="fab fa-android"></i>
        <% elsif post[:type] == "windows_phone_sms" %>
          <i class="fab fa-windows"></i>
        <% end %>
      <% elsif ['facebook_photo', 'facebook_photo_of', 'facebook_post', 'facebook_album'].include?(post[:type]) %>
        <a href="https://facebook.com/<%= post[:content][:fbid] %>">
          <i class="fab fa-facebook"></i>
          <% if post[:type] == "facebook_album" %>
            <i class="fas fa-images"></i>
          <% elsif post[:type] == "facebook_photo" %>
            <i class="far fa-image"></i>
          <% elsif post[:type] == "facebook_photo_of" %>
            <i class="fas fa-portrait"></i>
          <% elsif post[:type] == "facebook_post" %>
            <i class="fas fa-sticky-note"></i>
          <% end %>
        </a>
      <% elsif post[:type].start_with?('tumblr_') %>
        <a href="https://<%= post[:content][:username] %>.tumblr.com/post/<%= post[:content][:post_id] %>">
          <i class="fab fa-tumblr"></i>
          <% if post[:type] == "tumblr_post-content--text" %>
            <i class="fas fa-file-alt"></i>
          <% elsif post[:type] == "tumblr_post-content--note" %>
            <i class="fas fa-sticky-note"></i>
          <% elsif post[:type] == "tumblr_post-content--video" %>
            <i class="fas fa-video"></i>
          <% elsif post[:type] == "tumblr_post-content--audio" %>
            <i class="fas fa-music"></i>
          <% elsif post[:type] == "tumblr_post-content--chat" %>
            <i class="fas fa-comments"></i>
          <% elsif post[:type] == "tumblr_post-content--link" %>
            <i class="fas fa-link"></i>
          <% elsif post[:type] == "tumblr_post-content--quote" %>
            <i class="fas fa-quote-right"></i>
          <% elsif post[:type] == "tumblr_post-content--iframe" %>
            <i class="fas fa-code"></i>
          <% elsif post[:type] == "tumblr_post-content--photo" %>
            <i class="far fa-image"></i>
          <% elsif post[:type] == "tumblr_post-content--answer" %>
            <i class="fas fa-question-circle"></i>
          <% end %>
        </a>
      <% elsif post[:type] == "colloquy_message" %>
        <%= render :partial => 'posts/colloquy' %>
      <% elsif post[:type] == "mamirc_event" %>
        <%= render :partial => 'posts/mamirc' %>
      <% elsif post[:type] == "pidgin_message" %>
        <%= render :partial => 'posts/pidgin' %>
      <% elsif post[:type] == "adium_message" %>
        Adium
      <% end %>
      <br />
      <small><%= timestamp.strftime('%H:%M') %></small>
    </div>
    <div class="content">
      <% if post[:type] == "youtube_video" %>
        <h2>
          <a style="max-width: 530px; display: inline-block" href="https://www.youtube.com/watch?v=<%= post[:content][:video_id] %>"><%= post[:content][:title] %></a>

          <span style="float: right">
            <% if post[:content][:filename] && post[:content][:saved] %>
              <i class="fas fa-save"></i>  
            <% else %>
              <i class="far fa-save" style="opacity: 0.5"></i>
            <% end %>
          </span>
        </h2>
        <%
          json = JSON.parse(post[:content][:item])
          if json['snippet']['thumbnails']['maxres']
            url = json['snippet']['thumbnails']['maxres']['url']
          elsif json['snippet']['thumbnails']['high']
            url = json['snippet']['thumbnails']['high']['url']
          end
        %>
        <a data-fancybox href="https://www.youtube.com/watch?v=<%= post[:content][:video_id] %>"><img src="<%= url %>" /></a>
      <% elsif post[:type] == "webcomics_strip" %>
        <% json = JSON.parse(post[:content][:payload]) %>
        <h2>
          <% if json["url"] && !json["url"].nil? %>
            <a href="<%= post[:content][:url] %>"><%= json["title"] %></a>
          <% else %>
            <%= json["title"] %>
          <% end %>
        </h2>
      
        <a data-fancybox="webcomics_strip_<%= post[:content][:filename] %>" href="/media/<%= @person[:name] %>/Webcomic/<%= post[:content][:comic] %>/<%= post[:content][:filename] %>">
          <img src="/media/<%= @person[:name] %>/Webcomic/<%= post[:content][:comic] %>/<%= post[:content][:filename] %>" />
        </a>
      <% elsif post[:type] == "matrix_event" %>
        <% json = JSON.parse(post[:content][:content]) %>
        <% if json["msgtype"] == 'm.text' %>
          <p class="<% if @mxid_to_name[post[:content][:sender]] != SocialLink::Application.credentials.my_name %>sent<% else %>received<% end %>">
            <% if @person[:name].start_with?('#') # Group Chat %>
              <% if @mxid_to_name[post[:content][:sender]] != SocialLink::Application.credentials.my_name %>
                <small class="sender"><%= @mxid_to_name[post[:content][:sender]] || post[:content][:sender] %>: </small>
                <br />
              <% end %>
            <% end %>
            <%= json["body"] %>
          </p>
        <% elsif json["msgtype"] == 'm.image' %>
          <p><a data-fancybox href="https://<%= @matrix_hs_url %>/_matrix/media/r0/download/<%= json['url'].split('mxc://')[1] %>"><img src="https://<%= @matrix_hs_url %>/_matrix/media/r0/download/<%= json['url'].split('mxc://')[1] %>" /></a><br /><%= json["body"] %></p>
        <% elsif json["msgtype"] == 'm.video' %>
          <a data-fancybox href="https://<%= @matrix_hs_url %>/_matrix/media/r0/download/<%= json['url'].split('mxc://')[1] %>">
            <video controls preload="metadata">
              <source src="https://<%= @matrix_hs_url %>/_matrix/media/r0/download/<%= json['url'].split('mxc://')[1] %>" />
            </video>
          </a>
          <p style="text-align: center"><em>(<a href="https://<%= @matrix_hs_url %>/_matrix/media/r0/download/<%= json['url'].split('mxc://')[1] %>"><%= json["body"] %></a>)</em></p>
        <% elsif json["msgtype"] == 'm.emote' %>
          <p class="<% if @mxid_to_name[post[:content][:sender]] != SocialLink::Application.credentials.my_name %>sent<% else %>received<% end %>">
            <% if @person[:name].start_with?('#') # Group Chat %>
              <% if @mxid_to_name[post[:content][:sender]] != SocialLink::Application.credentials.my_name %>
                <small class="sender"><%= @mxid_to_name[post[:content][:sender]] || post[:content][:sender] %>: </small>
                <br />
              <% end %>
            <% end %>
            /me <%= json["body"] %>
          </p>
        <% else %>
          <p><%= post[:content][:content] %></p>
        <% end %>
      <% elsif post[:type] == "pidgin_message" %>
        <p class="<% if post[:content][:real_sender] == @person[:name] %>sent<% else %>received<% end %>"><%= raw post[:content]["message"] %></p>
      <% elsif post[:type] == "android_sms" %>
        <p class="<% if post[:content]['sms_type'] == '1' %>sent<% else %>received<% end %>"><%= post[:content]["body"] %></p>
      <% elsif post[:type] == "windows_phone_sms" %>
        <p class="<% if post[:content]['is_sent'] %>sent<% else %>received<% end %>"><%= post[:content]["body"] %></p>
      <% elsif post[:type] == "mamirc_event" %>
        <% if @person[:name].start_with?('#') # Group Chat %>
          <p class="<% if post[:content][:real_sender] != SocialLink::Application.credentials.my_name %>sent<% else %>received<% end %>"><% if post[:content][:real_sender] != SocialLink::Application.credentials.my_name %><small class="sender"><%= post[:content][:real_sender] || post[:content][:username] %>: </small><br /><% end %><%= post[:content][:data].split('PRIVMSG ')[1].split(' :')[1] %></p>
        <% else # 1:1 Conversation %>
          <p class="<% if post[:content][:real_sender] == @person[:name] %>sent<% else %>received<% end %>"><%= post[:content][:data].split('PRIVMSG ')[1].split(' :')[1] %></p>
        <% end %>
      <% elsif post[:type] == "colloquy_message" %>
        <% if @person[:name].start_with?('#') # Group Chat %>
          <p class="<% if post[:content][:real_sender] != SocialLink::Application.credentials.my_name %>sent<% else %>received<% end %>"><% if post[:content][:real_sender] != SocialLink::Application.credentials.my_name %><small class="sender"><%= post[:content][:real_sender] || post[:content][:username] %>: </small><br /><% end %><%= post[:content][:message] %></p>
        <% else %>
          <p class="<% if post[:content][:real_sender] == @person[:name] %>sent<% else %>received<% end %>"><%= post[:content][:message] %></p>
        <% end %>
      <% elsif post[:type] == "hangouts_event" %>
        <% post[:content][:chat_message]["message_content"]["segment"].each do |segment| %>
          <p class="<% if post[:content][:real_name] == @person[:name] %>sent<% else %>received<% end %>"><%= segment["text"] %></p>
        <% end %>
      <% elsif post[:type] == "facebook_message" %>
        <% if post[:content]["content"] %>
          <p class="<% if post[:content]['sender_name'] != SocialLink::Application.credentials.my_name %>sent<% else %>received<% end %>"><%= post[:content]["content"] %></p>
        <% end %>
      <% elsif ["twitter_tweet", "twitter_retweet"].include?(post[:type]) %>
        <% if post[:content][:is_retweet] %><h2><a href="https://twitter.com/i/status/<%= post[:content][:tweet_id] %>"> RT <% if post[:content][:retweet_data] %><%= post[:content][:retweet_data][:username] %><% else %>Unknown<% end %></a></h2><% end %>
        <% tweet = post[:content].text %>
        <% tweet = tweet.gsub(/pic\.twitter\.com\/[a-zA-Z0-9]*/, '') %>
        <% tweet = tweet.gsub(/(https:\/\/t.co\/).*/).with_index { |_, i|
          "<a href=\"#{post[:content].entries[:urls][i]}\">#{post[:content].entries[:urls][i]}</a>"
          } 
        %>
        <% tweet = tweet.gsub("\n", '<br />') %>
        <%= raw(tweet) %>

        <% if post[:content]['is_quoting'] && post[:content].quoting_data %>
          <br /><br />
          <strong><a href="https://twitter.com<%= post[:content].quoting_data[:permalink] %>"><%= post[:content].quoting_data[:username] %>:</a></strong>
          <div style="padding-left: 20px">
            <% if post[:content].quoting && post[:content].quoting.text %>
            <% tweet = post[:content].quoting.text %>
            <% else %>
              <% tweet = '' %>
            <% end %>
            <% tweet = tweet.gsub(/pic\.twitter\.com\/[a-zA-Z0-9]*/, '') %>
            <% tweet = tweet.gsub(/(https:\/\/t.co\/).*/).with_index { |_, i|
              "<a href=\"#{post[:content].quoting.entries[:urls][i]}\">#{post[:content].quoting.entries[:urls][i]}</a>"
              }
            %>
            <% tweet = tweet.gsub("\n", '<br />') %>
            <%= raw(tweet) %>
          </div>
        <% end %>

        <% if post[:content][:is_retweet] && post[:content].original %>
          <% photos = post[:content].original[:entries][:photos] %>
        <% else %>
          <% photos = post[:content][:entries][:photos] %>
        <% end %>
        <% photos.each do |photo| %>
          <a href="/media/<%= @person[:name] %>/Twitter/<%= @twitter_id_to_username[post[:content][:user_id]] %>/<%= photo.split('/')[-1].split('.')[0] %>-orig.<%= photo.split('/')[-1].split('.')[1] %>" data-fancybox="twitter_<%= post[:content][:tweet_id] %>">
            <img src="/media/<%= @person[:name] %>/Twitter/<%= @twitter_id_to_username[post[:content][:user_id]] %>/<%= photo.split('/')[-1].split('.')[0] %>-orig.<%= photo.split('/')[-1].split('.')[1] %>" />
          </a>
        <% end %>
      <% elsif post[:type] == "reddit_comment" %>
        <h2><a href="<%= post[:content][:link_permalink] %><%= post[:content][:reddit_id] %>"><%= post[:content][:link_title] %> (<%= post[:content][:subreddit_name_prefixed] %>)</a></h2>
        <%= post[:content][:author] %>: <%= raw(post[:content][:body]) %>
      <% elsif ['facebook_photo', 'facebook_photo_of', 'facebook_post', 'facebook_album'].include?(post[:type]) %>
        <%= render :partial => 'posts/facebook_post' , locals: {post: post, person: @person, details: false} %>
      <% elsif post[:type] == "tumblr_post-content--text" %>
        <%= raw(post[:text]) %>
      <% elsif post[:type] == "tumblr_post-content--video" %>
        <% x = Nokogiri::HTML.parse(post[:content][:xml_dump]) %>
        <% text = x.css('tumblr post').text %>
        <% begin %>
          <% url = "https://ve.media.tumblr.com/" + Nokogiri::HTML.parse(x.css('video-player')[0].text).css('source').attribute('src').text.split('/')[-2] + '_480.mp4' %>
          <video controls preload="metadata">
            <source src="<%= url %>" />
          </video>
        <% rescue %>
          video
        <% end %>
      <% elsif post[:type] == "tumblr_post-content--audio" %>
        <% x = Nokogiri::HTML.parse(post[:content][:xml_dump]) %>
        <% text = x.css('tumblr post').text %>
        <%= raw(text) %>
        audio
      <% elsif post[:type] == "tumblr_post-content--chat" %>
        <%= raw(post[:text]) %>
        chat
      <% elsif post[:type] == "tumblr_post-content--link" %>
        <%= raw(post[:text]) %>
        link
      <% elsif post[:type] == "tumblr_post-content--quote" %>
        <%= raw(post[:text]) %>
        quote
      <% elsif post[:type] == "tumblr_post-content--iframe" %>
        <%= raw(post[:text]) %>
        iframe
      <% elsif post[:type] == "tumblr_post-content--photo" %>
        <% output = Nokogiri::XML.parse(post[:content][:xml_dump]) %>
        <% if output.css('photo-caption').count > 0 %>
          <%= raw(output.css('photo-caption')[0].text || '') %>
        <% end %>
        <% last_photo = nil %>
        <% output.css('photo-url[max-width="1280"]').each do |photo| %>
          <% if last_photo != photo.text.split('/')[-1] %>
            <a data-fancybox="tumblr_<%= post[:content][:post_id] %>" href="/media/<%= @person[:name] %>/Tumblr/<%= post[:content][:username] %>/<%= photo.text.split('/')[-1] %>">
              <img src="/media/<%= @person[:name] %>/Tumblr/<%= post[:content][:username] %>/<%= photo.text.split('/')[-1] %>" />
            </a>
            <% last_photo = photo.text.split('/')[-1] %>
          <% end %>
        <% end %>
      <% elsif post[:type] == "tumblr_post-content--answer" %>
        <% x = Nokogiri::HTML.parse(post[:content][:xml_dump]) %>
        <% text = x.css('tumblr post').text %>
        <%= raw(text) %>
      <% elsif post[:type] == "instagram_post" %>
        <% json = JSON.parse(post[:content][:json]) %>
        <h2>
          <% if json['__typename'] == 'GraphSidecar' %>
            <span style="float: right">
              <a data-fancybox-trigger="instagram_<%= post[:content][:shortcode] %>"><i class="fas fa-layer-group"></i> <%= json["edge_sidecar_to_children"]["edges"].count %></a>
            </span>
          <% end %>
        </h2>

        <% node = 0 %>
        <% loop do %>
          <% if json['__typename'] == 'GraphSidecar' %>
            <% object = json['edge_sidecar_to_children']['edges'][node]["node"] %>
          <% else %>
            <% object = json %>
          <% end %>
  
          <% if object['__typename'] == 'GraphVideo' %>
            <% media_url = object["video_url"] %>
            <% media_type = 'video' %>
          <% elsif object['__typename'] == 'GraphImage' %>
            <% media_url = object["display_url"] %>
            <% media_type = 'image' %>
          <% end %>

          <% if media_url %>
            <% media_name = media_url.split('/')[-1].split('?')[0] %>
            <% folder = "#{InstagramAccount.where(instagram_id: json['owner']['id']).first.username} %28#{json['owner']['id']}%29" %>
            <% if media_url %>
              <a data-fancybox="instagram_<%= post[:content][:shortcode] %>" href="/media/<%= @person[:name] %>/Instagram/<%= folder %>/<%= media_name %>">
                <% if media_type == 'image' %>
                  <img src="/media/<%= @person[:name] %>/Instagram/<%= folder %>/<%= media_name %>" <% if node > 0 %>style="display: none"<% end %> />
                <% elsif media_type == 'video' %>
                  <video controls preload="metadata" <% if node > 0 %>style="display: none"<% end %>>
                    <source src="/media/<%= @person[:name] %>/Instagram/<%= folder %>/<%= media_name %>"/>
                  </video>
                <% end %>
              </a>
            <% end %>
            <% if node == 0 %>
              <% begin %>
                <p><%= json["edge_media_to_caption"]["edges"][0]["node"]["text"] %></p>
              <% rescue %>
              <% end %>
            <% end %>
          <% end %>
          <% break if json['edge_sidecar_to_children'].nil? || json['edge_sidecar_to_children']['edges'][node + 1].nil? %>
          <% node += 1 %>
        <% end %>
      <% elsif post[:type] == "instagram_story" %>
        <a data-fancybox="instagram_<%= post[:content][:filename] %>" href="/media/<%= @person[:name] %>/Instagram/<%= "#{post[:folder]} %28#{post[:content][:instagram_user_id]}%29" %>/<%= post[:content][:filename] %>">
          <% if post[:content][:filename].split('.')[-1].downcase == "jpg" %>
            <img src="/media/<%= @person[:name] %>/Instagram/<%= "#{post[:folder]} %28#{post[:content][:instagram_user_id]}%29" %>/<%= post[:content][:filename] %>" />
          <% elsif post[:content][:filename].split('.')[-1].downcase == "mp4" %>
            <video controls preload="metadata">
              <source src="/media/<%= @person[:name] %>/Instagram/<%= "#{post[:folder]} %28#{post[:content][:instagram_user_id]}%29" %>/<%= post[:content][:filename] %>" />
            </video>
          <% end %>
        </a>
      <% elsif post[:type] == "deviantart_post" %>
        <% json = JSON.parse(post[:content][:json_dump]) %>
        <h2><a href="https://www.deviantart.com/<%= post[:content][:username] %>/art/<%= post[:content][:post_id] %>"><%= json["title"] %></a></h2>
        <a data-fancybox="deviantart_<%= post[:content][:filename] %>" href="/media/<%= @person[:name] %>/DeviantArt/<%= post[:content][:username] %>/<%= post[:content][:filename] %>">
          <img src="/media/<%= @person[:name] %>/DeviantArt/<%= post[:content][:username] %>/<%= post[:content][:filename] %>" />
        </a>
      <% elsif post[:type] == "pixiv_post" %>
        <%= render :partial => 'posts/pixiv' , locals: {post: post, person: @person, details: false} %>
      <% end %>
    </div>
  </li>
<% end %>
