<% timestamp = nil %>
<% last_timestamp = nil %>
<% @person[:posts].each do |post| %>
  <% last_timestamp = timestamp || nil %>
  <% timestamp = Time.at(post[:sort_time]) %>
  <% if last_timestamp.nil? || (last_timestamp.strftime('%Y') != timestamp.strftime('%Y')) %>
    <li class="timestamp year">
      <h1><%= timestamp.strftime('%Y') %></h1>
    </li>
  <% end %>
  <% if last_timestamp.nil? || (last_timestamp.strftime('%B %Y') != timestamp.strftime('%B %Y')) %>
    <li class="timestamp month">
      <h2><%= timestamp.strftime('%B') %></h2>
    </li>
  <% end %>
  <% if last_timestamp.nil? || (last_timestamp.strftime('%d %B %Y') != timestamp.strftime('%d %B %Y')) %>
    <li class="timestamp date">
      <h3><%= timestamp.strftime('%A %d') %></h3>
    </li>
  <% end %>
  <li class="<%= post[:type] %>">
    <div class="left-margin">
      <% if post[:type] == "facebook_message" %>
        <i class="fab fa-facebook-messenger"></i>
      <% elsif post[:type] == "ao3_work" %>
        <a href="https://archiveofourown.org/works/<%= post[:content][:work_id] %>">
          <%= render :partial => 'profiles/ao3' %>
        </a>
      <% elsif post[:type] == "bluesky_post" %>
        <a href="https://bsky.app/profile/<%= post[:content][:uri].split('at://')[1].split('/')[0] %>/post/<%= post[:content][:uri].split('/')[-1] %>"><i class="fab fa-bluesky"></i></a>
      <% elsif post[:type] == "webcomics_strip" %>
        <i class="fas fa-book-reader"></i>
      <% elsif post[:type] == "hangouts_event" %>
        <i class="fab fa-hangouts"></i>
      <% elsif ["youtube_video", "youtube_short"].include?(post[:type]) %>
        <a href="https://www.youtube.com/watch?v=<%= post[:content][:video_id] %>">
          <% if post[:type] == "youtube_video" %>
            <i class="fab fa-youtube"></i>
          <% elsif post[:type] == "youtube_short" %>
            <%= render :partial => 'profiles/youtube_shorts' %>
          <% end %>
        </a>
      <% elsif post[:type] == "reddit_comment" %>
        <a href="<%= post[:content][:link_permalink] %><%= post[:content][:reddit_id] %>"><i class="fab fa-reddit"></i></a>
      <% elsif ["twitter_tweet", "twitter_retweet", "twitter_reply"].include?(post[:type]) %>
        <a href="https://twitter.com/i/status/<%= post[:content][:tweet_id] %>"><i class="fab fa-twitter"></i></a>
      <% elsif ["mastodon_toot", "mastodon_retoot"].include?(post[:type]) %>
        <a href="<%= post[:content][:url] %>"><i class="fab fa-mastodon"></i></a>
      <% elsif ["instagram_post", "instagram_story"].include?(post[:type]) %>
        <% if post[:type] == "instagram_post" %>
          <a href="https://www.instagram.com/p/<%= post[:content][:shortcode] %>/">
        <% end %>
        <i class="fab fa-instagram"></i>
        <% if post[:type] == "instagram_post" %>
          </a>
        <% end %>
        <% if post[:type] == "instagram_story" %>
          <i class="far fa-clock"></i>
        <% end %>
      <% elsif post[:type] == "matrix_event" %>
        <%= render :partial => 'profiles/element' %>
      <% elsif post[:type] == "deviantart_post" %>
        <a href="https://www.deviantart.com/<%= post[:content][:username] %>/art/<%= post[:content][:post_id] %>"><i class="fab fa-deviantart"></i></a>
      <% elsif post[:type] == "pixiv_post" %>
        <a href="https://www.pixiv.net/en/artworks/<%= post[:content][:post_id] %>">
          <%= render :partial => 'profiles/pixiv' %>
        </a>
      <% elsif ['android_mms', 'android_sms', 'voipms_sms', 'windows_phone_sms'].include?(post[:type]) %>
        <i class="fas fa-sms"></i>
        <% if ['android_mms', 'android_sms'].include?(post[:type]) %>
          <i class="fab fa-android"></i>
        <% elsif post[:type] == "voipms_sms"%>
          <i class="fas fa-network-wired"></i>
        <% elsif post[:type] == "windows_phone_sms" %>
          <i class="fab fa-windows"></i>
        <% end %>
      <% elsif ['facebook_photo', 'facebook_photo_of', 'facebook_post', 'facebook_album'].include?(post[:type]) %>
        <a href="https://facebook.com/<%= post[:content][:fbid] %>">
          <i class="fab fa-facebook"></i>
          <% if post[:type] == "facebook_album" %>
            <i class="fas fa-images"></i>
          <% elsif post[:type] == "facebook_photo" %>
            <i class="far fa-image"></i>
          <% elsif post[:type] == "facebook_photo_of" %>
            <i class="fas fa-portrait"></i>
          <% elsif post[:type] == "facebook_post" %>
            <i class="fas fa-sticky-note"></i>
          <% end %>
        </a>
      <% elsif post[:type].start_with?('tumblr_') %>
        <a href="https://<%= post[:content][:username] %>.tumblr.com/post/<%= post[:content][:post_id] %>">
          <i class="fab fa-tumblr"></i>
          <% if post[:type] == "tumblr_post-content--text" %>
            <i class="fas fa-file-alt"></i>
          <% elsif post[:type] == "tumblr_post-content--note" %>
            <i class="fas fa-sticky-note"></i>
          <% elsif post[:type] == "tumblr_post-content--video" %>
            <i class="fas fa-video"></i>
          <% elsif post[:type] == "tumblr_post-content--audio" %>
            <i class="fas fa-music"></i>
          <% elsif post[:type] == "tumblr_post-content--chat" %>
            <i class="fas fa-comments"></i>
          <% elsif post[:type] == "tumblr_post-content--link" %>
            <i class="fas fa-link"></i>
          <% elsif post[:type] == "tumblr_post-content--quote" %>
            <i class="fas fa-quote-right"></i>
          <% elsif post[:type] == "tumblr_post-content--iframe" %>
            <i class="fas fa-code"></i>
          <% elsif post[:type] == "tumblr_post-content--photo" %>
            <i class="far fa-image"></i>
          <% elsif post[:type] == "tumblr_post-content--answer" %>
            <i class="fas fa-question-circle"></i>
          <% end %>
        </a>
      <% elsif post[:type] == "colloquy_message" %>
        <%= render :partial => 'profiles/colloquy' %>
      <% elsif post[:type] == "mamirc_event" %>
        <%= render :partial => 'profiles/mamirc' %>
      <% elsif post[:type] == "pidgin_message" %>
        <%= render :partial => 'profiles/pidgin' %>
      <% elsif post[:type] == "adium_message" %>
        Adium
      <% end %>
      <br />
      <small><%= timestamp.strftime('%H:%M') %></small>
    </div>
    <div class="content">
      <% if ["youtube_video", "youtube_short"].include?(post[:type]) %>
        <%= render :partial => 'posts/youtube_video' , locals: {post: post, person: @person} %>
      <% elsif post[:type] == "webcomics_strip" %>
        <%= render :partial => 'posts/webcomics_strip' , locals: {post: post, person: @person} %>
      <% elsif post[:type] == "ao3_work" %>
        <%= render :partial => 'posts/ao3_work' , locals: {post: post, person: @person} %>
      <% elsif post[:type] == "bluesky_post" %>
        <%= render :partial => 'posts/bluesky_post' , locals: {post: post, person: @person, record: nil} %>
      <% elsif post[:type] == "matrix_event" %>
        <%= render :partial => 'posts/matrix_event' , locals: {post: post, person: @person} %>
      <% elsif post[:type] == "pidgin_message" %>
        <p class="<% if post[:content][:real_sender] == @person[:name] %>sent<% else %>received<% end %>"><%= raw post[:content]["message"] %></p>
      <% elsif post[:type] == "android_mms" %>
        <p class="<% if post[:content]['sms_type'] == '1' %>sent<% else %>received<% end %>"><%= raw post[:content]["body"] %></p>
      <% elsif post[:type] == "android_sms" %>
        <p class="<% if post[:content]['sms_type'] == '1' %>sent<% else %>received<% end %>"><%= post[:content]["body"] %></p>
      <% elsif post[:type] == "voipms_sms" %>
        <p class="<% if post[:content]['sms_type'] == 1 %>sent<% else %>received<% end %>"><%= post[:content]["message"] %></p>
      <% elsif post[:type] == "windows_phone_sms" %>
        <p class="<% if post[:content]['is_sent'] %>sent<% else %>received<% end %>"><%= post[:content]["body"] %></p>
      <% elsif post[:type] == "mamirc_event" %>
        <%= render :partial => 'posts/mamirc_event' , locals: {post: post, person: @person} %>
      <% elsif post[:type] == "colloquy_message" %>
        <%= render :partial => 'posts/colloquy_message' , locals: {post: post, person: @person} %>
      <% elsif post[:type] == "hangouts_event" %>
        <% post[:content][:chat_message]["message_content"]["segment"].each do |segment| %>
          <p class="<% if post[:content][:real_name] == @person[:name] %>sent<% else %>received<% end %>"><%= segment["text"] %></p>
        <% end %>
      <% elsif post[:type] == "facebook_message" %>
        <% if post[:content]["content"] %>
          <p class="<% if post[:content]['sender_name'] != SocialLink::Application.credentials.my_name %>sent<% else %>received<% end %>"><%= post[:content]["content"] %></p>
        <% end %>
      <% elsif ["twitter_tweet", "twitter_retweet", "twitter_reply"].include?(post[:type]) %>
        <%= render :partial => 'posts/twitter_tweet' , locals: {post: post, person: @person} %>
      <% elsif ["mastodon_toot", "mastodon_retoot"].include?(post[:type]) %>
        <%= render :partial => 'posts/mastodon_toot' , locals: {post: post, person: @person} %>
      <% elsif post[:type] == "reddit_comment" %>
        <h2><a href="<%= post[:content][:link_permalink] %><%= post[:content][:reddit_id] %>"><%= post[:content][:link_title] %> (<%= post[:content][:subreddit_name_prefixed] %>)</a></h2>
        <%= post[:content][:author] %>: <%= raw(post[:content][:body]) %>
      <% elsif ['facebook_photo', 'facebook_photo_of', 'facebook_post', 'facebook_album'].include?(post[:type]) %>
        <%= render :partial => 'posts/facebook_post' , locals: {post: post, person: @person, details: false} %>
      <% elsif post[:type].start_with?('tumblr_post-content') %>
        <%= render :partial => 'posts/tumblr_post' , locals: {post: post, person: @person} %>
      <% elsif post[:type] == "instagram_post" %>
        <%= render :partial => 'posts/instagram_post' , locals: {post: post, person: @person} %>
      <% elsif post[:type] == "instagram_story" %>
        <%= render :partial => 'posts/instagram_story' , locals: {post: post, person: @person} %>
      <% elsif post[:type] == "deviantart_post" %>
        <%= render :partial => 'posts/deviantart_post' , locals: {post: post, person: @person} %>
      <% elsif post[:type] == "pixiv_post" %>
        <%= render :partial => 'posts/pixiv_post' , locals: {post: post, person: @person} %>
      <% else %>
        <%= post[:type] %>
      <% end %>
    </div>
  </li>
<% end %>
