<%= @debug %>
<section id="main">
  <% if @person[:posts] %>
    <aside>
      <section class="profile">
        <a href="/">
          <% if @person[:vcard].photo && @person[:vcard].photo[0].params["type"].downcase == "jpeg" && @person[:vcard].photo[0].params["encoding"] == "b" %>
            <%
              photo_name = SecureRandom.uuid
              File.open('/tmp/' + photo_name, 'wb') do |f|
                f.write(Base64.decode64(@person[:photo]))
              end
              @colors = extract_dominant_colors('/tmp/' + photo_name)
            %>
            <div class="photo">
              <img src="data:image/jpeg;base64, <%= @person[:photo] %>" />
            </div>
            <% begin %>
              <% bgcolor = RGB::Color.from_rgb_hex(@colors[0]) %>
            <% rescue %>
              <% bgcolor = RGB::Color.from_rgb_hex('#FF0000') %>
            <% end %>
            <style>
              <% bgcolor.lightness = 0.5 if bgcolor.lightness > 0.5 %>
              a, i.fa-spinner {color: <%= bgcolor.to_rgb_hex %> !important; fill: <%= bgcolor.to_rgb_hex %> !important;}
            </style>
            <% bgcolor.lightness = 0.9 %>
            <style>body {background: linear-gradient(to right, <%= bgcolor.to_rgb_hex %> 0%, <%= bgcolor.to_rgb_hex %> 270px, #fafafa 270px, #fafafa 100%) repeat-y scroll 0 0 rgba(0, 0, 0, 0)}</style>
          <% else %>
            <style>
              body {background: linear-gradient(to right, #ccd5ff 0%, #ccd5ff 270px, #fafafa 270px, #fafafa 100%) repeat-y scroll 0 0 rgba(0, 0, 0, 0)}
              a, i.fa-spinner {color: #394fbe; fill: #394fbe}
              
            </style>
            <% if @person[:name].start_with?('#') %>
              <div class="photo">
                <i class="fas fa-user-circle"></i>
              </div>
            <% else %>
              <% #TODO: GROUP IMAGE %>
              <div class="photo">
                <i class="fas fa-user-circle"></i>
              </div>
            <% end %>
          <% end %>
        </a>
        <div class="info">
          <h1><span><%= @person[:name] %></span></h1>
          <div class="icons">
            <% if @person[:accounts] %>
              <% @person[:accounts].each do |account| %>
                <% if account[:service] == "youtube" %>
                  <a href="<%= account[:url] %>"><i class="fab fa-youtube"></i></a>
                <% elsif account[:service] == "webcomic" %>
                  <% if account[:url] && account[:url].blank? %>
                    <i class="fas fa-book-reader"></i>
                  <% else %>
                    <a href="<%= 'https://' + account[:url] %>"><i class="fas fa-book-reader"></i></a>
                  <% end %>
                <% elsif account[:service] == "matrix" %>
                  <%= render :partial => 'profiles/element' %>
                <% elsif account[:service] == "ao3" %>
                  <a href="<%= account[:url] %>"><%= render :partial => 'profiles/ao3' %></a>
                <% elsif account[:service] == "bluesky" %>
                  <a href="<%= account[:url] %>"><i class="fab fa-bluesky"></i></a>
                <% elsif account[:service] == "deviantart" %>
                  <a href="<%= account[:url] %>"><i class="fab fa-deviantart"></i></a>
                <% elsif account[:service] == "discord" %>
                  <a href="<%= account[:url] %>"><i class="fab fa-discord"></i></a>
                <% elsif account[:service] == "facebook" %>
                  <a href="<%= account[:url] %>"><i class="fab fa-facebook"></i></a>
                <% elsif account[:service] == "instagram" %>
                  <a href="<%= account[:url] %>"><i class="fab fa-instagram"></i></a>
                <% elsif account[:service] == "reddit" %>
                  <a href="<%= account[:url] %>"><i class="fab fa-reddit"></i></a>
                <% elsif account[:service] == "tumblr" %>
                  <a href="<%= account[:url] %>"><i class="fab fa-tumblr"></i></a>
                <% elsif account[:service] == "twitter" %>
                  <a href="<%= account[:url] %>"><i class="fab fa-twitter"></i></a>
                <% elsif account[:service] == "irc" %>
                  <i class="fas fa-hashtag"></i>
                <% elsif account[:service] == "pixiv" %>
                  <a href="<%= account[:url] %>"><%= render :partial => 'profiles/pixiv' %></a>
                <% elsif account[:service] == "hangouts" %>
                  <%= render :partial => 'profiles/hangouts' %>
                <% elsif account[:service] == "mastodon" %>
                  <a href="<%= account[:url] %>"><i class="fab fa-mastodon"></i></a>
                <% elsif account[:service] == "sms" %>
                  <i class="fas fa-sms"></i>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
        <p><%= @person[:post_count] %> posts | <a href="<%= SocialLink::Application.credentials.address_book_url %><%= @person[:uid] %>~<%= @person[:address_book] %>">(edit)</a></p>
      </section>

      <div class="pagination">
        <h3>Pagination:</h3>
        <a class="page-back-end" href=""><i class="fas fa-angle-double-left"></i></a>
        <a class="page-back" href=""><i class="fas fa-angle-left"></i></a>
        Page <span class="currentPageNumber"><%= @page_number %></span> of <span class="totalPageNumber"><%= (@person[:post_count] / @pagination.to_f).ceil %></span>
        <a class="page-forward" href=""><i class="fas fa-angle-right"></i></a>
        <a class="page-forward-end" href=""><i class="fas fa-angle-double-right"></i></a>
      </div>

      <h3>Filter By:</h3>
      <h4>Service:</h4>
      <ul class="services">
        <% if (@timeline[:service_counts]['facebook_message'].to_i + @timeline[:service_counts]['facebook_album'].to_i + @timeline[:service_counts]['facebook_post'].to_i + @timeline[:service_counts]['facebook_photo_of'].to_i + @timeline[:service_counts]['facebook_photo'].to_i) > 0 %>
          <li>
            <strong>Facebook:</strong>
            <ul>
              <% if @timeline[:service_counts]['facebook_message'] %>
                <li data-service="facebook_message">
                  <input autocomplete="off" type="checkbox" <%= @filters.include?('facebook_message') ? 'checked' : '' %> id="facebook_message" /> <label for="facebook_message">Messenger (<%= @timeline[:service_counts]['facebook_message'] || 0 %>)</label>
                </li> 
              <% end %>
  
              <% if @timeline[:service_counts]['facebook_post'] %>
                <li data-service="facebook_post">
                  <input autocomplete="off" type="checkbox" <%= @filters.include?('facebook_post') ? 'checked' : '' %> id="facebook_post" /> <label for="facebook_post">Posts (<%= @timeline[:service_counts]['facebook_post'] || 0 %>)</label>
                </li>
              <% end %>

              <% if @timeline[:service_counts]['facebook_photo_of'] %>
                <li data-service="facebook_photo_of">
                  <input autocomplete="off" type="checkbox" <%= @filters.include?('facebook_photo_of') ? 'checked' : '' %> id="facebook_photo_of" /> <label for="facebook_photo_of">Photos Of (<%= @timeline[:service_counts]['facebook_photo_of'] || 0 %>)</label>
                </li>
              <% end %>

              <% if @timeline[:service_counts]['facebook_photo'] %>
                <li data-service="facebook_photo">
                  <input autocomplete="off" type="checkbox" <%= @filters.include?('facebook_photo') ? 'checked' : '' %> id="facebook_photo" /> <label for="facebook_photo">Photos (<%= @timeline[:service_counts]['facebook_photo'] || 0 %>)</label>
                </li>
              <% end %>

              <% if @timeline[:service_counts]['facebook_album'] %>
                <li data-service="facebook_album">
                  <input autocomplete="off" type="checkbox" <%= @filters.include?('facebook_album') ? 'checked' : '' %> id="facebook_album" /> <label for="facebook_album">Albums (<%= @timeline[:service_counts]['facebook_album'] || 0 %>)</label>
                </li>
              <% end %>
              <br />
            </ul>
          </li>
        <% end %>

        <% if (@timeline[:service_counts]['instagram_post'].to_i + @timeline[:service_counts]['instagram_story'].to_i) > 0 %>
          <li>
            <strong>Instagram:</strong>
            <ul>
              <% if @timeline[:service_counts]['instagram_post'] %>
                <li data-service="instagram_post">
                  <input autocomplete="off" type="checkbox" <%= @filters.include?('instagram_post') ? 'checked' : '' %> id="instagram_post" /> <label for="instagram_post">Posts (<%= @timeline[:service_counts]['instagram_post'] || 0 %>)</label>
                </li>
              <% end %>

              <% if @timeline[:service_counts]['instagram_story'] %>
                <li data-service="instagram_story">
                  <input autocomplete="off" type="checkbox" <%= @filters.include?('instagram_story') ? 'checked' : '' %> id="instagram_story" /> <label for="instagram_story">Stories (<%= @timeline[:service_counts]['instagram_story'] || 0 %>)</label>
                </li>
              <% end %>
              <br />
            </ul>
          </li>
        <% end %>

        <% if (@timeline[:service_counts]['bluesky_post'].to_i + @timeline[:service_counts]['bluesky_post'].to_i) > 0 %>
          <li>
            <strong>Bluesky:</strong>
            <ul>
              <% if @timeline[:service_counts]['bluesky_post'] %>
                <li data-service="bluesky_post">
                  <input autocomplete="off" type="checkbox" <%= @filters.include?('bluesky_post') ? 'checked' : '' %> id="bluesky_post" /> <label for="bluesky_post">Posts (<%= @timeline[:service_counts]['bluesky_post'] || 0 %>)</label>
                </li>
              <% end %>
              <br />
            </ul>
          </li>
        <% end %>

        <% if (@timeline[:service_counts]['mastodon_toot'].to_i + @timeline[:service_counts]['mastodon_retoot'].to_i) > 0 %>
          <li>
            <strong>Mastodon:</strong>
            <ul>
              <% if @timeline[:service_counts]['mastodon_toot'] %>
                <li data-service="mastodon_toot">
                  <input autocomplete="off" type="checkbox" <%= @filters.include?('mastodon_toot') ? 'checked' : '' %> id="mastodon_toot" /> <label for="mastodon_toot">Toots (<%= @timeline[:service_counts]['mastodon_toot'] || 0 %>)</label>
                </li>
              <% end %>

              <% if @timeline[:service_counts]['mastodon_retoot'] %>
                <li data-service="mastodon_retoot">
                  <input autocomplete="off" type="checkbox" <%= @filters.include?('mastodon_retoot') ? 'checked' : '' %> id="mastodon_retoot" /> <label for="mastodon_retoot">Retoots (<%= @timeline[:service_counts]['mastodon_retoot'] || 0 %>)</label>
                </li>
              <% end %>
              <br />
            </ul>
          </li>
        <% end %>

        <% if (@timeline[:service_counts]['tumblr_post-content--photo'].to_i + @timeline[:service_counts]['tumblr_post-content--text'].to_i + @timeline[:service_counts]['tumblr_post-content--answer'].to_i + 
          @timeline[:service_counts]['tumblr_post-content--video'].to_i + @timeline[:service_counts]['tumblr_post-content--chat'].to_i + @timeline[:service_counts]['tumblr_post-content--quote'].to_i + 
          @timeline[:service_counts]['tumblr_post-content--audio'].to_i + @timeline[:service_counts]['tumblr_post-content--link'].to_i + @timeline[:service_counts]['tumblr_post-content--iframe'].to_i + 
          @timeline[:service_counts]['tumblr_post-content--note'].to_i) > 0 %>
          <li>
            <strong>Tumblr:</strong>
            <ul>
              <% if @timeline[:service_counts]['tumblr_post-content--photo'] %>
                <li data-service="tumblr_post-content--photo">
                  <input autocomplete="off" type="checkbox" <%= @filters.include?('tumblr_post-content--photo') ? 'checked' : '' %> id="tumblr_post-content--photo" /> <label for="tumblr_post-content--photo">Photos (<%= @timeline[:service_counts]['tumblr_post-content--photo'] %>)</label>
                </li>
              <% end %>

              <% if @timeline[:service_counts]['tumblr_post-content--text'] %>
                <li data-service="tumblr_post-content--text">
                  <input autocomplete="off" type="checkbox" <%= @filters.include?('tumblr_post-content--text') ? 'checked' : '' %> id="tumblr_post-content--text" /> <label for="tumblr_post-content--text">Texts (<%= @timeline[:service_counts]['tumblr_post-content--text'] %>)</label>
                </li>
              <% end %>

              <% if @timeline[:service_counts]['tumblr_post-content--answer'] %>
                <li data-service="tumblr_post-content--answer">
                  <input autocomplete="off" type="checkbox" <%= @filters.include?('tumblr_post-content--answer') ? 'checked' : '' %> id="tumblr_post-content--answer" /> <label for="tumblr_post-content--answer">Answers (<%= @timeline[:service_counts]['tumblr_post-content--answer'] %>)</label>
                </li>
              <% end %>

              <% if @timeline[:service_counts]['tumblr_post-content--video'] %>
                <li data-service="tumblr_post-content--video">
                  <input autocomplete="off" type="checkbox" <%= @filters.include?('tumblr_post-content--video') ? 'checked' : '' %> id="tumblr_post-content--video" /> <label for="tumblr_post-content--video">Videos (<%= @timeline[:service_counts]['tumblr_post-content--video'] %>)</label>
                </li>
              <% end %>

              <% if @timeline[:service_counts]['tumblr_post-content--chat'] %>
                <li data-service="tumblr_post-content--chat">
                  <input autocomplete="off" type="checkbox" <%= @filters.include?('tumblr_post-content--chat') ? 'checked' : '' %> id="tumblr_post-content--chat" /> <label for="tumblr_post-content--chat">Chats (<%= @timeline[:service_counts]['tumblr_post-content--chat'] %>)</label>
                </li>
              <% end %>

              <% if @timeline[:service_counts]['tumblr_post-content--quote'] %>
                <li data-service="tumblr_post-content--quote">
                  <input autocomplete="off" type="checkbox" <%= @filters.include?('tumblr_post-content--quote') ? 'checked' : '' %> id="tumblr_post-content--quote" /> <label for="tumblr_post-content--quote">Quotes (<%= @timeline[:service_counts]['tumblr_post-content--quote'] %>)</label>
                </li>
              <% end %>

              <% if @timeline[:service_counts]['tumblr_post-content--audio'] %>
                <li data-service="tumblr_post-content--audio">
                  <input autocomplete="off" type="checkbox" <%= @filters.include?('tumblr_post-content--audio') ? 'checked' : '' %> id="tumblr_post-content--audio" /> <label for="tumblr_post-content--audio">Audio (<%= @timeline[:service_counts]['tumblr_post-content--audio'] %>)</label>
                </li>
              <% end %>

              <% if @timeline[:service_counts]['tumblr_post-content--link'] %>
                <li data-service="tumblr_post-content--link">
                  <input autocomplete="off" type="checkbox" <%= @filters.include?('tumblr_post-content--link') ? 'checked' : '' %> id="tumblr_post-content--link" /> <label for="tumblr_post-content--link">Links (<%= @timeline[:service_counts]['tumblr_post-content--link'] %>)</label>
                </li>
              <% end %>

              <% if @timeline[:service_counts]['tumblr_post-content--iframe'] %>
                <li data-service="tumblr_post-content--iframe">
                  <input autocomplete="off" type="checkbox" <%= @filters.include?('tumblr_post-content--iframe') ? 'checked' : '' %> id="tumblr_post-content--iframe" /> <label for="tumblr_post-content--iframe">IFrames (<%= @timeline[:service_counts]['tumblr_post-content--iframe'] %>)</label>
                </li>
              <% end %>
  
              <% if @timeline[:service_counts]['tumblr_post-content--note'] %>
                <li data-service="tumblr_post-content--note">
                  <input autocomplete="off" type="checkbox" <%= @filters.include?('tumblr_post-content--note') ? 'checked' : '' %> id="tumblr_post-content--note" /> <label for="tumblr_post-content--note">Notes (<%= @timeline[:service_counts]['tumblr_post-content--note'] %>)</label>
                </li>
              <% end %>
              <br />
            </ul>
          </li>
        <% end %>

        <% if (@timeline[:service_counts]['twitter_tweet'].to_i + @timeline[:service_counts]['twitter_retweet'].to_i) > 0 %>
          <li>
            <strong>Twitter:</strong>
            <ul>
              <% if @timeline[:service_counts]['twitter_tweet'] %>
                <li data-service="twitter_tweet">
                  <input autocomplete="off" type="checkbox" <%= @filters.include?('twitter_tweet') ? 'checked' : '' %> id="twitter_tweet"/> <label for="twitter_tweet">Tweets (<%= @timeline[:service_counts]['twitter_tweet'] || 0 %>)</label>
                </li>
              <% end %>

              <% if @timeline[:service_counts]['twitter_retweet'] %>
                <li data-service="twitter_retweet">
                  <input autocomplete="off" type="checkbox" <%= @filters.include?('twitter_retweet') ? 'checked' : '' %> id="twitter_retweet"/> <label for="twitter_retweet">Retweets (<%= @timeline[:service_counts]['twitter_retweet'] || 0 %>)</label>
                </li>
              <% end %>

              <% if @timeline[:service_counts]['twitter_reply'] %>
                <li data-service="twitter_reply">
                  <input autocomplete="off" type="checkbox" <%= @filters.include?('twitter_reply') ? 'checked' : '' %> id="twitter_reply"/> <label for="twitter_reply">Replies (<%= @timeline[:service_counts]['twitter_reply'] || 0 %>)</label>
                </li>
              <% end %>
              <br />
            </ul>
          </li>
        <% end %>

        <% if @timeline[:service_counts]['reddit_comment'] %>
          <li>
            <strong>Reddit:</strong>
            <ul>
              <li data-service="reddit_comment">
                <input autocomplete="off" type="checkbox" <%= @filters.include?('reddit_comment') ? 'checked' : '' %> id="reddit_comment"/> <label for="reddit_comment">Comments (<%= @timeline[:service_counts]['reddit_comment'] || 0 %>)</label>
              </li>
              <br />
            </ul>
          </li>        
        <% end %>

        <% if (@timeline[:service_counts]['youtube_video'].to_i + @timeline[:service_counts]['youtube_short'].to_i) > 0 %>
          <li>
            <strong>YouTube:</strong>
            <ul>
              <% if @timeline[:service_counts]['youtube_video'] %>
                <li data-service="youtube_video">
                  <input autocomplete="off" type="checkbox" <%= @filters.include?('youtube_video') ? 'checked' : '' %> id="youtube_video"/> <label for="youtube_video">Videos (<%= @timeline[:service_counts]['youtube_video'] || 0 %>)</label>
                </li>
              <% end %>

              <% if @timeline[:service_counts]['youtube_short'] %>
                <li data-service="youtube_short">
                  <input autocomplete="off" type="checkbox" <%= @filters.include?('youtube_short') ? 'checked' : '' %> id="youtube_short"/> <label for="youtube_short">Shorts (<%= @timeline[:service_counts]['youtube_short'] || 0 %>)</label>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>

        <% if @timeline[:service_counts]['discord_message'] %>
          <li>
            <strong>Discord:</strong>
            <ul>
              <li data-service="discord_message">
                <input autocomplete="off" type="checkbox" <%= @filters.include?('discord_message') ? 'checked' : '' %> id="discord_message"/> <label for="discord_message">Messages (<%= @timeline[:service_counts]['discord_message'] || 0 %>)</label>
              </li>
              <br />
            </ul>
          </li>
        <% end %>

        <% if (@timeline[:service_counts]['pixiv_post'].to_i + @timeline[:service_counts]['matrix_event'].to_i + @timeline[:service_counts]['android_mms'].to_i + @timeline[:service_counts]['android_sms'].to_i + @timeline[:service_counts]['ao3_work'].to_i +
          @timeline[:service_counts]['windows_phone_sms'].to_i + @timeline[:service_counts]['mamirc_event'].to_i + @timeline[:service_counts]['colloquy_message'].to_i + @timeline[:service_counts]['voipms_sms'].to_i + @timeline[:service_counts]['mirc_log'].to_i +
          @timeline[:service_counts]['pidgin_message'].to_i + @timeline[:service_counts]['deviantart_post'].to_i + @timeline[:service_counts]['hangouts_event'].to_i + @timeline[:service_counts]['google_chat_message'].to_i + @timeline[:service_counts]['google_talk_message'].to_i + 
          @timeline[:service_counts]['microsoft_teams_message'].to_i + @timeline[:service_counts]['xchat_log'].to_i + @timeline[:service_counts]['lounge_log'].to_i) > 0 %>
          <li>
            <strong>Other:</strong>
            <ul>
              <% if @timeline[:service_counts]['ao3_work'] %>
                <li data-service="ao3_work">
                  <input autocomplete="off" type="checkbox" <%= @filters.include?('ao3_work') ? 'checked' : '' %> id="ao3_work" /> <label for="ao3_work">AO3 Works (<%= @timeline[:service_counts]['ao3_work'] || 0 %>)</label>
                </li>
              <% end %>

              <% if @timeline[:service_counts]['google_talk_message'] %>
                <li data-service="google_talk_message">
                  <input autocomplete="off" type="checkbox" <%= @filters.include?('google_talk_message') ? 'checked' : '' %> id="google_talk_message" /> <label for="google_talk_message">Google Talk (<%= @timeline[:service_counts]['google_talk_message'] || 0 %>)</label>
                </li>
              <% end %>

              <% if @timeline[:service_counts]['google_chat_message'] %>
                <li data-service="google_chat_message">
                  <input autocomplete="off" type="checkbox" <%= @filters.include?('google_chat_message') ? 'checked' : '' %> id="google_chat_message" /> <label for="google_chat_message">Google Chat (<%= @timeline[:service_counts]['google_chat_message'] || 0 %>)</label>
                </li>
              <% end %>

              <% if @timeline[:service_counts]['microsoft_teams_message'] %>
                <li data-service="microsoft_teams_message">
                  <input autocomplete="off" type="checkbox" <%= @filters.include?('microsoft_teams_message') ? 'checked' : '' %> id="microsoft_teams_message" /> <label for="microsoft_teams_message">Microsoft Teams (<%= @timeline[:service_counts]['microsoft_teams_message'] || 0 %>)</label>
                </li>
              <% end %>

              <% if @timeline[:service_counts]['hangouts_event'] %>
                <li data-service="hangouts_event">
                  <input autocomplete="off" type="checkbox" <%= @filters.include?('hangouts_event') ? 'checked' : '' %> id="hangouts_event" /> <label for="hangouts_event">Hangouts (<%= @timeline[:service_counts]['hangouts_event'] || 0 %>)</label>
                </li>
              <% end %>

              <% if @timeline[:service_counts]['pixiv_post'] %>
                <li data-service="pixiv_post">
                  <input autocomplete="off" type="checkbox" <%= @filters.include?('pixiv_post') ? 'checked' : '' %> id="pixiv_post"/> <label for="pixiv_post">Pixiv (<%= @timeline[:service_counts]['pixiv_post'] || 0 %>)</label>
                </li>
              <% end %>
  
              <% if @timeline[:service_counts]['matrix_event'] %>
                <li data-service="matrix_event">
                  <input autocomplete="off" type="checkbox" <%= @filters.include?('matrix_event') ? 'checked' : '' %> id="matrix_event"/> <label for="matrix_event">Matrix (<%= @timeline[:service_counts]['matrix_event'] || 0 %>)</label>
                </li>
              <% end %>

              <% if @timeline[:service_counts]['android_mms'] %>
                <li data-service="android_mms">
                  <input autocomplete="off" type="checkbox" <%= @filters.include?('android_mms') ? 'checked' : '' %> id="android_mms"/> <label for="android_mms">MMS (Android) (<%= @timeline[:service_counts]['android_mms'] || 0 %>)</label>
                </li>
              <% end %>
  
              <% if @timeline[:service_counts]['android_sms'] %>
                <li data-service="android_sms">
                  <input autocomplete="off" type="checkbox" <%= @filters.include?('android_sms') ? 'checked' : '' %> id="android_sms"/> <label for="android_sms">SMS (Android) (<%= @timeline[:service_counts]['android_sms'] || 0 %>)</label>
                </li>
              <% end %>

              <% if @timeline[:service_counts]['voipms_sms'] %>
                <li data-service="voipms_sms">
                  <input autocomplete="off" type="checkbox" <%= @filters.include?('voipms_sms') ? 'checked' : '' %> id="voipms_sms"/> <label for="voipms_sms">SMS (VoIP.ms) (<%= @timeline[:service_counts]['voipms_sms'] || 0 %>)</label>
                </li>
              <% end %>
  
              <% if @timeline[:service_counts]['windows_phone_sms'] %>
                <li data-service="windows_phone_sms">
                  <input autocomplete="off" type="checkbox" <%= @filters.include?('windows_phone_sms') ? 'checked' : '' %> id="windows_phone_sms"/> <label for="windows_phone_sms">SMS (WP7) (<%= @timeline[:service_counts]['windows_phone_sms'] || 0 %>)</label>
                </li>
              <% end %>

              <% if @timeline[:service_counts]['lounge_log'] %>
                <li data-service="lounge_log">
                  <input autocomplete="off" type="checkbox" <%= @filters.include?('lounge_log') ? 'checked' : '' %> id="lounge_log"/> <label for="lounge_log">The Lounge (<%= @timeline[:service_counts]['lounge_log'] || 0 %>)</label>
                </li>
              <% end %>

              <% if @timeline[:service_counts]['xchat_log'] %>
                <li data-service="xchat_log">
                  <input autocomplete="off" type="checkbox" <%= @filters.include?('xchat_log') ? 'checked' : '' %> id="xchat_log"/> <label for="xchat_log">XChat (<%= @timeline[:service_counts]['xchat_log'] || 0 %>)</label>
                </li>
              <% end %>

              <% if @timeline[:service_counts]['mirc_log'] %>
                <li data-service="mirc_log">
                  <input autocomplete="off" type="checkbox" <%= @filters.include?('mirc_log') ? 'checked' : '' %> id="mirc_log"/> <label for="mirc_log">mIRC (<%= @timeline[:service_counts]['mirc_log'] || 0 %>)</label>
                </li>
              <% end %>
  
              <% if @timeline[:service_counts]['mamirc_event'] %>
                <li data-service="mamirc_event">
                  <input autocomplete="off" type="checkbox" <%= @filters.include?('mamirc_event') ? 'checked' : '' %> id="mamirc_event"/> <label for="mamirc_event">MamIRC (<%= @timeline[:service_counts]['mamirc_event'] || 0 %>)</label>
                </li>
              <% end %>
        
              <% if @timeline[:service_counts]['colloquy_message'] %>
                <li data-service="colloquy_message">
                  <input autocomplete="off" type="checkbox" <%= @filters.include?('colloquy_message') ? 'checked' : '' %> id="colloquy_message"/> <label for="colloquy_message">Colloquy (<%= @timeline[:service_counts]['colloquy_message'] || 0 %>)</label>
                </li>
              <% end %>
          
              <% if @timeline[:service_counts]['pidgin_message'] %>
              <li data-service="pidgin_message">
                <input autocomplete="off" type="checkbox" <%= @filters.include?('pidgin_message') ? 'checked' : '' %> id="pidgin_message"/> <label for="pidgin_message">Pidgin (<%= @timeline[:service_counts]['pidgin_message'] || 0 %>)</label>
              </li>
              <% end %>

              <% if @timeline[:service_counts]['deviantart_post'] %>
                <li data-service="deviantart_post">
                  <input autocomplete="off" type="checkbox" <%= @filters.include?('deviantart_post') ? 'checked' : '' %> id="deviantart_post"/> <label for="deviantart_post">DeviantArt (<%= @timeline[:service_counts]['deviantart_post'] || 0 %>)</label>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>

      <h4>Date:</h4>
      <ul class="dates">
        <% @timeline[:dates].sort.reverse.each do |year| %>        
            <dt class="description-title"><span class="expand-collapse">&#10133;</span> <%= year[0] %></dt>
            <dd class="description">
              <ul>
                <% 12.downto(1).each do |month| %>
                  <li>
                    <% if year[1][month] %>
                      <a class="calendar-page" data-page="<%= year[1][month] %>" href="/profiles/<%= @person[:uid] %>"><%= Date::MONTHNAMES[month] %></a>
                    <% else %>
                      <%= Date::MONTHNAMES[month] %>
                    <% end %>
                  </li>                
                <% end %>
              </ul>
            </dd>
        <% end %>
      </ul>

      <div class="settings">
        <dt class="description-title">Settings: <span class="expand-collapse">&#10133;</span></dt>
        <dd class="description">
          <%= form_with do |form| %>
            <p>
              Silence updates for:
              <select name="notification_delay">
              <% {0 => "-", 86400 => "1 day", 604800 => "7 days", 2678400 => "1 month"}.each do |k, v| %>
                <option value="<%= k %>" <% if @sc.notification_delay == k %>selected<% end %>><%= v %></option>
              <% end %>
              </select>
            </p>

            <p>
              YouTube Auto-Download:
              <input type="checkbox" name="youtube_auto_download" <% if @sc.youtube_auto_download %>checked<% end %> />
            </p>

            <%= form.submit "Save", data: {disable_with: false} %>
          <% end %>
        </dd>
      </div>
    <% end %>
  </aside>

  <ul class="posts">
    <div class="flex-container" id="loading-spinner">
      <i class="fas fa-spinner fa-spin"></i>
    </div>
    <div class="posts-container">
    </div>
    <div class="pagination">
      <a class="page-back-end" href=""><i class="fas fa-angle-double-left"></i></a>
      <a class="page-back" href=""><i class="fas fa-angle-left"></i></a>
      Page <span class="currentPageNumber"><%= @page_number %></span> of <span class="totalPageNumber"><%= (@person[:post_count] / @pagination.to_f).ceil %></span>
      <a class="page-forward" href=""><i class="fas fa-angle-right"></i></a>
      <a class="page-forward-end" href=""><i class="fas fa-angle-double-right"></i></a>
    </div>
  </ul>
</section>
    <script>
      var postsContainer = document.querySelector('.profiles_show');

      if (postsContainer) {
      var services = {
      <% ApplicationController::SUPPORTED_TYPES.each_with_index do |type, index| %>
        <% if index == ApplicationController::SUPPORTED_TYPES.count - 1 %>
          <% terminator = '' %>
        <% else %>
          <% terminator = ',' %>
        <% end %>
        <%= raw('"' + type + '": ' + @filters.include?(type).to_s) + terminator %>
      <% end %>
      };
      var filterString = '';
      var pageNumber = 1;
      var filteredPageCount = 0;


      function shrinkTitle() {
        var textSpan = document.querySelector("h1 span");
        var textDiv = document.querySelector("h1");

        fontSize = 30;

        while (textSpan.offsetWidth >= 180) {
          fontSize = fontSize - 1;
          textSpan.style.fontSize = fontSize + 'px';
        }
      }

      if (<%= @pagename == "profiles_show" %>) {
        shrinkTitle();
      }

      var getHTML = function ( url, callback ) {
        if ( !window.XMLHttpRequest ) return;

        var xhr = new XMLHttpRequest();

        xhr.onload = function() {
          if ( callback && typeof( callback ) === 'function' ) {
            callback(this);
          }
        }

        xhr.open( 'GET', url );
        xhr.responseType = 'document';
        xhr.send();
      };

      document.addEventListener('change', function (event) {
        if (!event.target.hasAttribute('id')) return;

        serviceLabel = event.target.getAttribute('id');

        elements = document.getElementsByClassName(serviceLabel);
        if (!('serviceLabel' in services) && services[serviceLabel] == false) {
          services[serviceLabel] = true
        } else {
          services[serviceLabel] = false
        }
        for (var i = 0; i < elements.length; i++) {
          elements[i].style.display = services[serviceLabel] == false ? 'none' : 'block';
        }
        generateFilterString();
        pageNumber = 1;

        getPosts(filterString, pageNumber);
      }, false);

      if (document.readyState !== 'loading') {
        ready();
      } else {
        document.addEventListener('DOMContentLoaded', ready);
      }

      function generateFilterString() {
        filterString = '';
        for (const [key, value] of Object.entries(services)) {
          if (value === true) {
            filterString = filterString + 'filters[types][]=' + key + '&';
          }
        }
        console.log(filterString);
      }

      function ready() {
        var accordion = document.getElementsByTagName("dt");

        for (var i = 0; i<accordion.length; i++){
          accordion[i].addEventListener('click', function(){
            accordionClick(event);
          });
        }
      }

      var postsContainer = document.querySelector('.profiles_show .posts .posts-container');

      function showLoadingSpinner() {
        document.querySelector('#loading-spinner').style.display = 'flex';
      }

      function hideLoadingSpinner() {
        document.querySelector('#loading-spinner').style.display = 'none';
      }

      function getPosts(filterString, pageNumber) {
        qSA = document.querySelectorAll('.pagination');
        qSA.forEach(t => {
          t.style.display = 'none';
        });
        qSA = document.querySelectorAll('.services input');
        qSA.forEach(t => {
          t.disabled = true;
        });
        postsContainer.style.display = 'none';
        showLoadingSpinner();
        getHTML( window.location.href + '/posts?' + filterString + '&page=' + pageNumber + '&update_filters=true', function (response) {
          filteredPageCount = response.getResponseHeader('filtered-page-count')

          postsContainer.innerHTML = response.responseXML.documentElement.innerHTML;
          redrawPageNumbers();
          hideLoadingSpinner();
          postsContainer.style.display = 'block';
          qSA = document.querySelectorAll('.services input');
          qSA.forEach(t => {
            t.disabled = false;
          });
          qSA = document.querySelectorAll('.pagination');
          qSA.forEach(t => {
            t.style.display = 'inline';
          });
        });
        window.scrollTo(0,0);
      }
      generateFilterString();
      getPosts(filterString, pageNumber);

      function redrawPageNumbers() {
        tPN = document.querySelectorAll('.totalPageNumber');
        tPN.forEach(t => {
          t.innerHTML = filteredPageCount;
        });

        cPN = document.querySelectorAll('.currentPageNumber');
        cPN.forEach(c => {
          c.innerHTML = pageNumber;
        });

        if (pageNumber == 1) {
          pageBack = document.querySelectorAll('.page-back, .page-back-end');
          pageBack.forEach(back => {
            back.style.display = 'none';
          });
        } else {
          pageBack = document.querySelectorAll('.page-back, .page-back-end')
          pageBack.forEach(back => {
            back.style.display = 'inline';
          });
        }

        if (pageNumber == filteredPageCount) {
          pageForward = document.querySelectorAll('.page-forward, .page-forward-end');
          pageForward.forEach(forward => {
            forward.style.display = 'none';
          });

        } else {
          pageForward = document.querySelectorAll('.page-forward, .page-forward-end');
          pageForward.forEach(forward => {
            forward.style.display = 'inline';
          });
        }
      }

      qSA = document.querySelectorAll('.page-back-end')
      qSA.forEach(q => {
        q.addEventListener('click', function (event) {
          event.preventDefault();
          pageNumber = 1;
          redrawPageNumbers();
          getPosts(filterString, pageNumber);
        }, false);
      });

      qSA = document.querySelectorAll('.page-back')
      qSA.forEach(q => {
        q.addEventListener('click', function (event) {
          event.preventDefault();
          pageNumber = pageNumber - 1;
          redrawPageNumbers();
          getPosts(filterString, pageNumber);
        }, false);
      });

      qSA = document.querySelectorAll('.page-forward')
      qSA.forEach(q => {
        q.addEventListener('click', function (event) {
          event.preventDefault();
          pageNumber = pageNumber + 1;
          redrawPageNumbers();
          getPosts(filterString, pageNumber);
        }, false);
      });

      qSA = document.querySelectorAll('.calendar-page')
      qSA.forEach(q => {
        q.addEventListener('click', function (event) {
          event.preventDefault();
          console.log(event);
          pageNumber = parseInt(event.originalTarget.dataset.page);
          redrawPageNumbers();
          getPosts(filterString, pageNumber);
        }, false);
      });

      qSA = document.querySelectorAll('.page-forward-end')
        qSA.forEach(q => {
          q.addEventListener('click', function (event) {
          event.preventDefault();
          pageNumber = filteredPageCount;
          redrawPageNumbers();
          getPosts(filterString, pageNumber);
        }, false);
      });

      var accordionClick = (eventHappened) => {
          var targetClicked =event.target;
          var classClicked = targetClicked.classList;
          while ((classClicked[0] !="description-title")){
              targetClicked = targetClicked.parentElement;
              classClicked = targetClicked.classList;
          }
          var description = targetClicked.nextElementSibling;
          var expander = targetClicked.children[0];
          if (description.style.maxHeight){
              description.style.maxHeight = null;
              expander.innerHTML = "&#10133;"

          }
          else {
              var allDescriptions = document.getElementsByTagName("dd");
              for (var i = 0; i < allDescriptions.length; i++){
                  if (allDescriptions[i].style.maxHeight){
                      allDescriptions[i].style.maxHeight = null;
                      allDescriptions[i].previousElementSibling.children[0].innerHTML = "&#10133;"
                  }
              }
              description.style.maxHeight = description.scrollHeight + "px";
              expander.innerHTML = "&#10134;";

          }
      }
      }
    </script>
