<% json = JSON.parse(post[:content][:json_dump]) %>
<h2><a href="https://www.deviantart.com/<%= post[:content][:username] %>/art/<%= post[:content][:post_id] %>"><%= json["title"] %></a></h2>
<a data-fancybox="deviantart_<%= post[:content][:filename] %>" href="/media/<%= person[:name] %>/DeviantArt/<%= post[:content][:username] %>/<%= post[:content][:filename] %>" />
  <img src="/media/<%= person[:name] %>/DeviantArt/<%= post[:content][:username] %>/<%= post[:content][:filename] %>" />
</a>
