<% if post[:content].authored_by %>
  <strong><a href="https://facebook.com/<%= post[:content].authored_by.fbid %>"><%= post[:content].authored_by.payload[:display_name] %></a>: </strong>
<% end %>
<% if post[:content][:payload] %>
  <% if post[:content][:payload][:caption] # Photos %>
      <%= raw(post[:content][:payload][:caption].gsub(/\@\[[0-9]*\]/) { |c|
        c = c[2..-2] # Drop @[X]
        user = FBID.where(fbid: c, fbid_type: 'user').first
        if user
          "<a href=\"https://facebook.com/#{c}\">#{user.payload[:display_name]}</a>"
        else
          ":("
        end
      }.gsub("\n", '<br />')) %>
    <% if post[:content].edge_phototags.count > 0 %>
      <br />
      <p>
        <em>Pictured:</em>
        <%= raw post[:content].edge_phototags.map { |edge|
          user = FBID.where(fbid: edge.to).first
            "<a href='https://facebook.com/#{user.fbid}'>#{user.payload[:display_name]}</a>"
          }.to_sentence %>
      </p>
    <% end %>
  <% elsif post[:content][:payload][:content] # Posts %>
    <h3>
      <%= raw(post[:content][:payload][:content].gsub(/\@\[[0-9]*\]/) { |c|
        c = c[2..-2] # Drop @[X]
        user = FBID.where(fbid: c, fbid_type: 'user').first
        if user
          "<a href=\"https://facebook.com/#{c}\">#{user.payload[:display_name]}</a>"
        else
          ":("
        end
      }.gsub("\n", '<br />')) %>
    </h3>
  <% elsif post[:content][:payload][:title] # Album %>
    <% photos_in_album = FBIDEdge.where(relationship: 'PHOTO_IN_ALBUM', to: post[:content][:fbid]).pluck(:from) %>
    <h2>
      <%= post[:content][:payload][:title] %>
      <span style="float: right">
        <a data-fancybox-trigger="facebook_album_<%= post[:content][:fbid] %>"><i class="fas fa-layer-group"></i> <%= photos_in_album.count %></a>
      </span>
    </h2>
    <% index = 0 %>
    <% FBID.where(fbid: photos_in_album).find_each do |fbid_obj| %>
      <a data-fancybox="facebook_album_<%= post[:content][:fbid] %>" href="/media/<%= person[:name] %>/Facebook/<%= post[:content][:fb_account] %>/<%= fbid_obj.fbid %>.jpg" data-caption="<%= fbid_obj.payload[:caption] %>">
        <img src="/media/<%= person[:name] %>/Facebook/<%= post[:content][:fb_account] %>/<%= fbid_obj.fbid %>.jpg" <% if index > 0 %>loading="lazy" style="display: none"<% end %>/>
        <% index += 1 %>
      </a>
    <% end %>
  <% end %>
<% end %>
<% if ['facebook_photo', 'facebook_photo_of'].include?(post[:type]) %>
  <a data-fancybox href="/media/<%= person[:name] %>/Facebook/<%= post[:content][:fb_account] %>/<%= post[:content][:fbid] %>.jpg">
    <img src="/media/<%= person[:name] %>/Facebook/<%= post[:content][:fb_account] %>/<%= post[:content][:fbid] %>.jpg" />
  </a>
<% end %>
<div class="cf">
  <span class="left"><%= post[:content].scraped_comments %>/<%= post[:content].total_comments %> Comments</span>
  <span class="right"><%= post[:content].reactions_scraped_count %>/<%= post[:content].reactions_expected_count %> Reactions</span>
</div>
<ul>
  <% post[:content].edge_comments.each do |edge| %>
    <%= render "posts/facebook_comment", edge_object: FBID.where(fbid: edge.to).first %>
  <% end %>
</ul>
