<% json = JSON.parse(post[:content][:json]) %>
<h2>
  <% if json['__typename'] == 'GraphSidecar' %>
    <span style="float: right">
       <a data-fancybox-trigger="instagram_<%= post[:content][:shortcode] %>"><i class="fas fa-layer-group"></i> <%= json["edge_sidecar_to_children"]["edges"].count %></a>
    </span>
  <% end %>
</h2>
<% node = 0 %>
<% loop do %>
  <% if json['__typename'] == 'GraphSidecar' %>
    <% object = json['edge_sidecar_to_children']['edges'][node]["node"] %>
  <% else %>
    <% object = json %>
  <% end %>

  <% if object['__typename'] == 'GraphVideo' %>
    <% media_url = object["video_url"] %>
    <% media_type = 'video' %>
  <% elsif object['__typename'] == 'GraphImage' %>
    <% media_url = object["display_url"] %>
    <% media_type = 'image' %>
  <% end %>

  <% account = InstagramAccount.where(instagram_id: json['owner']['id']).first %>
  <% if account.nil? %>
    <% json['coauthor_producers'].each do |producer| %>
      <% account = InstagramAccount.where(instagram_id: producer['id']).first %>
      <% break if account %>
    <% end %>
  <% end %>

  <% if media_url && account %>
    <% media_name = media_url.split('/')[-1].split('?')[0] %>
    <% folder = "#{account.username} %28#{account['instagram_id']}%29" %>
    <% if media_url %>
      <a data-fancybox="instagram_<%= post[:content][:shortcode] %>" href="/media/<%= @person[:name] %>/Instagram/<%= folder %>/<%= media_name %>">
        <% if media_type == 'image' %>
          <img src="/media/<%= @person[:name] %>/Instagram/<%= folder %>/<%= media_name %>" <% if node > 0 %>loading="lazy" style="display: none"<% end %> />
        <% elsif media_type == 'video' %>
          <video controls preload="metadata" <% if node > 0 %>style="display: none"<% end %>>
            <source src="/media/<%= @person[:name] %>/Instagram/<%= folder %>/<%= media_name %>"/>
          </video>
        <% end %>
      </a>
    <% end %>
    <% if node == 0 %>
      <% begin %>
        <p><%= json["edge_media_to_caption"]["edges"][0]["node"]["text"] %></p>
      <% rescue %>
      <% end %>
    <% end %>
  <% else %>
    <p>Problem parsing post <%= post[:content][:id] %></p>
  <% end %>
  <% break if json['edge_sidecar_to_children'].nil? || json['edge_sidecar_to_children']['edges'][node + 1].nil? %>
  <% node += 1 %>
<% end %>
