<% json = JSON.parse(post[:content][:content]) %>
<% if json["msgtype"] == 'm.text' %>
  <p class="<% if @mxid_to_name[post[:content][:sender]] != SocialLink::Application.credentials.my_name %>sent<% else %>received<% end %>">
    <% if @person[:name].start_with?('#') # Group Chat %>
      <% if @mxid_to_name[post[:content][:sender]] != SocialLink::Application.credentials.my_name %>
        <small class="sender"><%= @mxid_to_name[post[:content][:sender]] || post[:content][:sender] %>: </small>
        <br />
      <% end %>
    <% end %>
    <%= json["body"] %>
  </p>
<% elsif json["msgtype"] == 'm.image' %>
  <p><a data-fancybox href="https://<%= @matrix_hs_url %>/_matrix/media/r0/download/<%= json['url'].split('mxc://')[1] %>"><img src="https://<%= @matrix_hs_url %>/_matrix/media/r0/download/<%= json['url'].split('mxc://')[1] %>" /></a><br /><%= json["body"] %></p>
<% elsif json["msgtype"] == 'm.video' %>
  <a data-fancybox href="https://<%= @matrix_hs_url %>/_matrix/media/r0/download/<%= json['url'].split('mxc://')[1] %>">
    <video controls preload="metadata">
      <source src="https://<%= @matrix_hs_url %>/_matrix/media/r0/download/<%= json['url'].split('mxc://')[1] %>" />
    </video>
  </a>
  <p style="text-align: center"><em>(<a href="https://<%= @matrix_hs_url %>/_matrix/media/r0/download/<%= json['url'].split('mxc://')[1] %>"><%= json["body"] %></a>)</em></p>
<% elsif json["msgtype"] == 'm.emote' %>
  <p class="<% if @mxid_to_name[post[:content][:sender]] != SocialLink::Application.credentials.my_name %>sent<% else %>received<% end %>">
    <% if @person[:name].start_with?('#') # Group Chat %>
      <% if @mxid_to_name[post[:content][:sender]] != SocialLink::Application.credentials.my_name %>
        <small class="sender"><%= @mxid_to_name[post[:content][:sender]] || post[:content][:sender] %>: </small>
        <br />
      <% end %>
    <% end %>
    /me <%= json["body"] %>
  </p>
<% else %>
  <p><%= post[:content][:content] %></p>
<% end %>
