<% json = JSON.parse(post[:content][:content]) %>
<% snpc = ServiceNamePathCache.where(service: 'Matrix', username: post[:content][:sender]).first %>
<% name = (snpc && snpc.name) || nil %>
<% if json["msgtype"] == 'm.text' %>
  <p class="<% if name == SocialLink::Application.credentials.my_name %>sent<% else %>received<% end %>">
    <% if person[:name].start_with?('#') # Group Chat %>
      <% if name == SocialLink::Application.credentials.my_name %>
        <small class="sender"><%= name || post[:content][:sender] %>: </small>
        <br />
      <% end %>
    <% end %>
    <%= json["body"] %>
  </p>
<% elsif json["msgtype"] == 'm.image' %>
  <p><a data-fancybox href="<%= SocialLink::Application.credentials.matrix_media_server %>/v1/media/download/<%= post[:content].get_media_token %>"><img src="<%= SocialLink::Application.credentials.matrix_media_server %>/v1/media/download/<%= post[:content].get_media_token %>" /></a><br /><%= json["body"] %></p>
<% elsif json["msgtype"] == 'm.video' %>
  <a data-fancybox href="<%= SocialLink::Application.credentials.matrix_media_server %>/v1/media/download/<%= post[:content].get_media_token %>">
    <video controls preload="metadata">
      <source src="<%= SocialLink::Application.credentials.matrix_media_server %>/v1/media/download/<%= post[:content].get_media_token %>" />
    </video>
  </a>
  <p style="text-align: center"><em>(<a href="<%= SocialLink::Application.credentials.matrix_media_server %>/v1/media/download/<%= post[:content].get_media_token %>"><%= json["body"] %></a>)</em></p>
<% elsif json["msgtype"] == 'm.emote' %>
  <p class="<% if name == SocialLink::Application.credentials.my_name %>sent<% else %>received<% end %>">
    <% if person[:name].start_with?('#') # Group Chat %>
      <% if name == SocialLink::Application.credentials.my_name %>
        <small class="sender"><%= name || post[:content][:sender] %>: </small>
        <br />
      <% end %>
    <% end %>
    /me <%= json["body"] %>
  </p>
<% else %>
  <p><%= post[:content][:content] %></p>
<% end %>
