<% snpc = ServiceNamePathCache.where(service: 'Pixiv', username: post[:content][:pixiv_member_id]).first %>
<% post_base = '' %>
<div>
  <h2>
    <a href="https://www.pixiv.net/en/artworks/<%= post[:content][:post_id] %>"><%= post[:content][:title] %></a>
    <% if post[:content][:page_count] > 1 %>
      <% post_base = post[:content][:post_id] + '/' %>
      <span style="float: right">
        <a data-fancybox-trigger="pixiv_<%= post[:content][:post_id] %>">
          <%= post[:content][:page_count] %> <i class="fas fa-layer-group"></i>
        </a>
      </span>
    <% end %>
  </h2>
</div>
<% post[:content][:filenames].each_with_index do |file, index| %>
  <a data-fancybox="pixiv_<%= post[:content][:post_id] %>" href='<%= "/media/#{snpc.name}/#{snpc.service}/#{snpc.username}/#{post_base}#{file}" %>'>
    <img <% if index > 0 %>style="display: none"<% end %> src='<%= "/media/#{snpc.name}/#{snpc.service}/#{snpc.username}/#{post_base}#{file}" %>'/>
  </a>
<% end %>
