<% json = JSON.parse(post[:content][:payload]) %>
<h2>
  <% if json["url"] && !json["url"].nil? %>
    <a href="<%= json['url'] %>"><%= json["title"] %></a>
  <% else %>
    <%= json["title"] %>
  <% end %>
</h2>

<% if post[:content][:filename] %>
  <% post[:content][:filename].each do |file| %>
  <a data-fancybox="webcomics_strip_<%= file %>" href="/media/<%= person[:name] %>/Webcomic/<%= post[:content][:comic] %>/<%= file %>">
    <img src="/media/<%= person[:name] %>/Webcomic/<%= post[:content][:comic] %>/<%= file %>" />
  </a>
  <% end %>
<% end %>

<% if json && json["alt"] %>
  <em><%= json['alt'] %></em>
<% end %>
