<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %> - SocialLink</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="/assets/css/fonts.css" media="all" />
    <link rel="stylesheet" href="/assets/css/fontawesome-6.7.2.all.min.css" media="all" />
    <link rel="stylesheet" href="/assets/css/jquery.fancybox.min.css" media="all" />
    <link rel="stylesheet" href="/assets/css/default.css" media="all" />
    <link rel="stylesheet" href="/assets/css/twitter.css" media="all" />
    <link rel="stylesheet" href="/assets/css/lite-yt-embed.css" media="all" />

    <script src="/js/lite-yt-embed.js"></script>
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/jquery.fancybox.min.js"></script>
    <script src="/js/fontawesome-6.7.2.all.min.js"></script>
  </head>

  <body class="<%= @pagename %>">
    <%= yield %>
  </body>
</html>
