<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %> - SocialLink</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Quicksand:400,700" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/fontawesome6.1.1.min.css" media="all" />
    <link rel="stylesheet" href="/assets/css/jquery.fancybox.min.css" media="all" />
    <link rel="stylesheet" href="/assets/css/default.css" media="all" />

    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/jquery.fancybox.min.js"></script>
    <script src="/js/fontawesome6.1.1.js"></script>
  </head>

  <body class="<%= @pagename %>">
    <%= yield %>
  </body>
</html>
